.decodeEditor p {
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 8px 0;
}

.codePegList {
  float: left;
}

.decodeGrid {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.gameover {
  width: 300px;
  margin-left: auto;
}

.gameover p {
  display: inline-block;
  margin: 8px 8px 0 24px;
}