.singlePlayer {
  border: 0;
  padding: 0;
}

.content {
  max-width: 400px;
  margin: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 16px;
}

.sidebar {
  width: 25%;
}
