.assist {
  margin: 6px 0 0 6px;
  background-color: #ffffff;
  padding: 4px 8px 4px 8px;
  height: 462px;
  border-radius: 0 24px 0 0;
}

.assist h2 {
  font-size: 14px;
  font-weight: normal;
  color: #595959d0;
  text-align: center;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 24px;
  background-color: #F2F3F8;
}

.assist table {
  border-collapse: collapse;
  font-size: 14px;
  color: #9E9E9E;
  text-align: right;
  margin-bottom: 12px;
}

.assist td {
  width: 26px;
}

.assist thead tr {
  border-bottom: 1px solid #9E9E9E;
}

.assist thead td:first-child {
  color: #595959d0;
  text-align: center
}

.assist tbody tr:not(:last-child) {
  border-bottom: 1px solid #D8D8D8;
}

.assist .codePeg {
  width: 12px;
  height: 12px;
  border: 0px;
  margin: 1px;
}

.assist td {
  padding: 2px 4px;
}

.assist td:first-child {
  text-align: center;
}

.assist td:last-child {
  border-left: 1px solid #595959d0;
}

.assist ul {
  padding-left: 16px;
  height: 216px;
  font-size: 14px;
  color: #9E9E9E;
  overflow: scroll;
}