.button {
  background-color: #000000;
  border-radius: 24px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: 8px 0 0 0;
  color: #ffffff;
  border: 0;
}

.button__disabled {
  opacity: 0.6;
  cursor: not-allowed;
}