.codePegList {
  display: inline-block;
  margin: 4px 4px 4px 6px;
  padding: 0;
  vertical-align: top;
}

.codePegList ul {
  list-style-type: none;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

.codePegList ul.picker {
  margin: 0;
  padding: 4px 2px 4px 2px;
  background-color: white;
  border-radius: 16px 0 16px 0;
}

.codePegList ul.buttons {
  margin: 0;
  padding: 4px 2px 2px 2px;
}

.codePegList li {
  padding: 2px;
  margin: 0;
}

.codePegList li.check {
  padding-top: 4px;
}