
:root {
  --code-peg-blue: #1890FF;
  --code-peg-green: #52C41A;
  --code-peg-orange: #FA8C16;
  --code-peg-purple: #722ED1;
  --code-peg-red: #F5222D;
  --code-peg-yellow: #FADB14;
  --code-peg-empty: #ffffff;
  --code-peg-border: #D8D8D8;
}

.codePeg {
  height: 38px;
  width: 38px;
  background-color: var(--code-peg-empty);
  border: 1px solid var(--code-peg-border);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.codePeg__selectable {
  cursor: pointer;
}

.codePeg__selectable:hover {
  border-color: var(--code-peg-border);
}

.codePeg__blue {
  background-color: var(--code-peg-blue);
  border-color: var(--code-peg-blue);
}

.codePeg__green {
  background-color: var(--code-peg-green);
  border-color: var(--code-peg-green);
}

.codePeg__orange {
  background-color: var(--code-peg-orange);
  border-color: var(--code-peg-orange);
}

.codePeg__purple {
  background-color: var(--code-peg-purple);
  border-color: var(--code-peg-purple);
}

.codePeg__red {
  background-color: var(--code-peg-red);
  border-color: var(--code-peg-red);
}

.codePeg__yellow {
  background-color: var(--code-peg-yellow);
  border-color: var(--code-peg-yellow);
}

.codePeg__empty {
  background-color: var(--code-peg-empty);
  border-color: var(--code-peg-border);
}