
.codePegList {
  margin: 2px;
  padding: 4px;
  width: 52px;
}

.codePegList ul.picker {
  list-style-type: none;
  margin: 0;
  padding: 4px 4px;
  background-color: white;
  border-radius: 16px 0 16px 0;
}

.codePegList ul.buttons {
  list-style-type: none;
  margin: 0;
  padding: 8px 2px;
}

.codePegList li {
  padding: 2px;
  margin: 0;
}

.codePegList li.check {
  padding-top: 4px;
}
