.decodeGrid {
  margin-top: 6px;
  background-color: #ffffff;
  padding: 4px 8px 4px 8px;
  max-width: 304px;
  border-radius: 0 24px 0 24px;
}

.decodeGrid .caption {
  text-align: center;
  font-size: 14px;
  color: #595959d0;
  padding: 2px;
  margin: 4px;
  border-radius: 24px;
  background-color: #F2F3F8;
}

.decodeGrid table {
  border-collapse: collapse;
}

.decodeGrid tr:not(:last-child).decodeRow {
  border-bottom: 1px solid #D8D8D8;
}

tr.decodeRow > td {
  padding: 2px 6px;
  margin: 0;
  font-size: 18px;
  color: #D8D8D8;
}

tr.decodeRow > td.rowHead {
  padding: 2px 6px 2px 16px;
}

.decodeGrid td.keys {
  padding: 0 6px 0 8px;
  margin: 0;
}

.decodeGrid tr.solution {
  background-color: #f2f3f8;
}

.decodeGrid .codePeg {
  height: 24px;
  width: 24px;
}