.decodeGrid {
  margin: 4px 0 4px 2px;
  padding: 2px 4px 2px 4px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 0 24px 0 24px;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
  position: relative;
  z-index: 10;
}

.decodeGrid .caption {
  margin: 12px 0 8px 0;
  text-align: center;
}

.decodeGrid .caption span {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-weight: 500;
  color: #515151;
  padding: 4px 16px;
  border-radius: 24px;
  background-color: #F2F3F8;
}

.decodeGrid table {
  display: inline-block;
  border-collapse: collapse;
}

.decodeGrid tr:not(:last-child).decodeRow {
  border-bottom: 1px solid #D8D8D8;
}

tr.decodeRow>td {
  padding: 4px 6px;
  margin: 0;
  font-size: 18px;
  color: #D8D8D8;
}

tr.decodeRow>td.rowHead {
  padding: 4px 12px 4px 16px;
  text-align: right;
}

.decodeGrid td.keys {
  padding: 0 6px 0 8px;
  margin: 0;
}

.decodeGrid tr.solution {
  background-color: #f2f3f8;
}

.decodeGrid .codePeg {
  height: 24px;
  width: 24px;
}