.header {
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #DFE3E6;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: block;
  margin: auto;
}