.iconButton {
  height: 42px;
  width: 42px;
  color: #262626;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  background-position: center; 
  background-repeat:no-repeat;
}

.iconButton.check {
  color: #ffffff;
  background-color: #262626;
  background-image:url("/assets/check.png");
}

.iconButton.close {
  background-image:url("/assets/close.png");
}

.iconButton.delete {
  background-image:url("/assets/delete.png");
}

.iconButton.info {
  background-image:url("/assets/info.png");
}

.iconButton.random {
  background-image:url("/assets/random.png");
}

.iconButton.reset {
  background-image:url("/assets/reset.png");
}

.iconButton__disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.iconButton:hover:not(.iconButton__disabled) {
  border: 1px solid #bfbfbf;
}