:root {
  --key-peg-position: #000000;
  --key-peg-color: #bfbfbf;
  --key-peg-empty: #ffffff;
  --key-peg-border: #D8D8D8;
}

.keyPeg {
  margin: 0;
  padding: 0;
  height: 10px;
  width: 10px;
  background-color: var(--key-peg-color-empty);
  border: 1px solid var(--key-peg-border);
  border-radius: 50%;
  display: inline-block;
}

.keyPeg__position {
  background-color: var(--key-peg-position);
  border-color: var(--key-peg-position);
}

.keyPeg__color {
  background-color: var(--key-peg-color);
  border-color:  var(--key-peg-border);
}

.keyPeg__none {
  background-color: var(--key-peg-color-empty);
  border-color: var(--key-peg-border);
}