.rulesToggle {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 14px;
  color: #595959;
}

.rules p {
  font-size: 14px;
  color: #737B86;
  margin: 4px 2px 2px 4px;
}

.rules p.hide {
  display: none;
}
