.rules {
  margin: 4px;
  padding: 0;
  float: left;
}

.rulesToggle {
  cursor: pointer;
  font-size: 14px;
  color: #595959;
}

.rules p {
  font-size: 14px;
  color: #595959;
  margin: 5px 0 0 0;
  display: inline-block;
}

.rules p.Hide {
  display: none;
}

.rules p.Show {
  display: visible;
}